@import url('https://owlcarousel/owl.theme.default.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css');
@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.bod{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: "Poppins", sans-serif;
}

.mainContainer{
    width:100%;
    min-height: 70vh;
    background:rgba(242, 242, 242,255);
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:40px;
    align-items: center;
    padding:0 10rem;
}

.mainContainer .box{
    background: #fff;
    height: 60vh;
    text-align: center;
    transition:.3s ease-in-out;
    
}
.mainContainer .box:hover{
   box-shadow: rgba(17,12,46,0.15) 0px 48px 100px 0px;
   transform:scale(1.1);
    
}
.mainContainer .card{
    padding: 15px 15px 0;
}

.card .image{
    width:80%;
    /*background:#f9f9f9f9;*/
    margin:10px auto 25px;
    position:relative;
}

.card .image::before{
   content:"";
   position:absolute;
   width:10px;
   height:10px;
   bottom:8px;
   left:10px;
   border-radius: 50%;
   
}
.card .image img{
    width:180px;
    transition: .3s ease-in-out;
}

.card .image:hover img{
    transform:scale(1.1);
    overflow: hidden;
}
.card .desc{
    width:80%;
    margin:auto ;
    margin-bottom:20px;
}

.card .desc h1{
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 2px;
    color:#0a6c57;
}

.colour{
    color:#0a6c57;
}

.card .desc p{
    font-size: 14px;
    margin:10px 0 0;
    
}

i{
    margin:0 3px;
}
i:hover{
    transform: scale(1.1);
    transition: .3s ease-in-out;
}