@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(255, 255, 255);
}
.flowbite-carousel img {
  border-radius: 0 !important;
}
/* Add this to your existing styles or create a new CSS file */
#dropdownNavbar,
#doubleDropdown1,
#doubleDropdown2,
#doubleDropdown3,
#doubleDropdown4 {
  z-index: 1000; /* Adjust the value as needed */
}
/* Add this to your existing styles or create a new CSS file */
#default-carousel {
  position: relative;
  z-index: 1; /* Set a value higher than the dropdown's z-index */
}
